# API
API_KEY=your_exchangerate_api_key_here
API_URL=https://v6.exchangerate-api.com/v6

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=currency_db
POSTGRES_USER=user
POSTGRES_PASSWORD=password

# Scheduler
FETCH_INTERVAL_MINUTES=5

# Base currency
BASE_CURRENCY=USD